
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

{% stylesheet %}
.swiper {
    max-height: 75rem;
}
.swiper-slide__img{
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    display: block !important;
}
{% endstylesheet %}

<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'slide' -%}
                <!-- Slides -->
                <div class="swiper-slide">
                    <img class="swiper-slide__img" src="{{ block.settings.slide | img_url: '1500x'  }}" alt="">
                </div>
                {%- else -%}
            {%- endcase -%}
        {%- endfor -%}
    </div>
    
    {% if section.settings.pagination %}
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    {% endif %}

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

{% javascript %}
document.addEventListener('DOMContentLoaded', e => {
  var swiper = new Swiper(".swiper", {
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
})
{% endjavascript %}

{% schema %}
{
    "name": "Slideshow",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Aa"
        },
        {
            "type": "checkbox",
            "id": "pagination",
            "label": "Pagination",
            "default": true
        }
    ],
    "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "slide",
                    "label": "Slide"
                }
            ]
        }
    ],
    "presets":[
        {
            "name": "Slideshow",
            "settings": {
                "title": "Yo"
            }
        }
    ]
}
{% endschema %}